
body, html {
height: 100%;
margin: 0;
}
.main-content {
    background-image: linear-gradient(to bottom right, #000000, #4f0093); /* from black to purple-900 */
    color: white;
}
.portfolio .bg-gradient-to-bl, .uploader .bg-gradient-to-r {
    background-image: linear-gradient(to bottom right, #000000, #4f0093); /* Adjusted to match main content */
}
.portfolio h3, .portfolio p, .uploader p {
    color: #FFFFFF; /* Lighter text for better contrast against the dark background */
}
.uploader button {
    background-color: #6d28d9;
}
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.floating {
    animation: float 5s ease-in-out infinite;
}
a.focus-visible, button.focus-visible {
    outline: 4px solid rgba(128, 90, 213, 0.5);
    outline-offset: 2px;
}
.hover-effect:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}
nav, nav * {
    cursor: default;
}
